{% extends "base.html" %}

{% block title %}Subjects{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-header bg-dark text-white">
            <h2>Add New Students</h2>
        </div>
    
<div class="card-body" p-4>
<form action="{{ url_for('Add_Students') }}" method="POST">
    <div class="mb-3">
    <lable class="form-lable">Student Name : <input name="student_name" class="form-control"  type="text" placeholder="Enter Student Name:"><br>
    <lable class="form-lable">Student Marks : <input name="marks" class="form-control"  type="text" placeholder="Enter Student Marks:"><br>
    <lable class="form-lable">Roll_No : <input name="roll_no" class="form-control"  type="text" placeholder="Enter Student roll no:"><br>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">ADD</button>
</div>
</form>
</div>
</div>
</div>
{% endblock %}