{% extends "base.html" %}

{% block title %}Study Quiz Hub Portal{% endblock %}

{% block content %}

<h1 class="text-center text-primary">
    All Students
</h1>

<p class="text-success">
    Total Students: {{ students|length }}
</p>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Marks</th>
            <th>Grade</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.roll_no }}</td>
            <td>{{ student.marks }}</td>
            <td>
                {% if student.marks >= 80 %}
                    A
                {% elif student.marks >= 60 %}
                    B
                {% elif student.marks >= 40 %}
                    C
                {% else %}
                    F
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<div class="text-center">
    <button class="btn btn-success">
        <a href="{{ url_for('Add_Students') }}" class="text-white text-decoration-none">
            Add Students
        </a>
    </button>
</div>
{% endblock %}