{% extends "base.html" %}

{% block title %}Subjects{% endblock %}

{% block content %}

<h1 class="text-center">Select a Subject</h1>

<h3>MCQ Subjects</h3>
                    
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown">
        Select Subject
    </button>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('Theory') }}">Theory</a></li>
        <li><a class="dropdown-item" href="{{ url_for('MCQ') }}">MCQ</a></li>
    </ul>
</div>
<hr>

{% endblock %}